
h1 {
    text-align: center;
}


.facts-container {
    width: 60%;
    margin: 60px auto;
}

.fact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #f5f5f5;
    border-left: 6px solid #5aa37a;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.fact-text {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.fact-box img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.fact-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.fact-box h2 {
    margin-top: 0;
    color: #2c3e50;
}

.fact-box p {
    color: #444;
}

.fact-box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}





.tips-container {
    width: 60%;
    margin: 60px auto;
}

.tips-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #f5f5f5;
    border-left: 6px solid #5aa37a;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.tips-text {
    width: 100%;
    font-size: 20px;
}

.tips-box img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.tips-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.tips-box h2 {
    margin-top: 0;
    color: #2c3e50;
}

.tips-box p {
    color: #444;
}

.tips-box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}



