.facts-container {
    width: 40%;
    margin: 50px auto;
}

.fact-box {
    background-color: #f5f5f5;
    border-left: 6px solid #5aa37a;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.fact-box h2 {
    margin-top: 0;
    color: #2c3e50;
}

.fact-box p {
    color: #444;
}

.fact-box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}