body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #F7F9F8;
    color: #1F2933;
}


.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e5e7eb;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #239a48;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;

    background-color: #f3f6f4;
    color: #1F2933;
    font-weight: 525;

}

.nav-btn:hover {
    background-color: #E6E7EB;
}

.active-link {
    box-shadow: 0px 5px 0px 0px #A7D7B8;
}

.btn-primary {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 50px;
    background: #239A48;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary:hover {
    background: #2E7D32;
}